ul {
    display: flex;
    list-style: none;
    background-color: antiquewhite;
    /* margin: 0; */
    padding: 0;
}

ul>div {
    display: flex;
    padding: 8px;
}

.second-part {
    justify-content: center;
    flex: auto;
}

ul>.first-part,
.third-part {
    gap: 16px;
    flex: initial;
}

li {
    padding: 6px;
    background-color: white;
    color: blue;
}

ul>.second-part>li {
    padding: 8px;
    background-color: white;
    color: red;
}